.box-profile:first-child {
  margin-top:10px;
}

@media screen and (max-width:770px) {
  .container {
    height: 100vh;
  }
  .content-contain {
    display: grid;
    grid-template-columns: 100% 0%;
    height: 90%;
  }

  .item .item-3 {
    display: none;
  }
}

button {
  border-radius: 10px;
  border: 1px solid #999;
  background: #eee;
  outline: none;
}

img {
  padding-top: 5vmin;
  border-radius: 50% 50%;
  overflow: hidden;
}

button * {
    outline: none;
}