body {
  margin: 0px;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: auto 350px;
  grid-template-rows: 80px auto;
}

.item-1 {
  grid-column: 1/3;
  background-color: #333;
  color: white;
}

.item-2 {
  background-color: #ddd;
}
.item-3 {
  background-color: #ffffff;
  overflow-y: auto;
  padding: 3%;
}

@media screen and (max-width:770px) {
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: auto 0px;
  grid-template-rows: 80px auto;
}
}
.box-profile {
  border: 1px solid #999;
  border-radius: 3px;
  padding: 1em;
  background: #eee;
  margin-bottom: 5px;
}

button {
  border-radius: 10px;
  border: 1px solid #999;
  background: #eee;
  outline: none;
}

img {
padding-top: 5vmin;
  border-radius: 50% 50%;
  overflow: hidden;
}

button * {
    outline: none;
}